exclude: |
  (?x)^(
    \.fuel/.+
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: oxlint
        name: oxlint
        entry: ./node_modules/.bin/oxlint --type-aware --type-check
        language: system
        types_or: [javascript, jsx, ts, tsx]
      - id: oxfmt
        name: oxfmt
        entry: ./node_modules/.bin/oxfmt --write
        language: system
        types_or: [javascript, jsx, ts, tsx]
      - id: pest
        name: pest
        entry: ./vendor/bin/pest --compact
        language: system
        pass_filenames: false
      - id: pint
        name: pint
        entry: ./vendor/bin/pint --format agent
        language: system
        types_or: [php]
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.6.0
    hooks:
      - id: editorconfig-checker
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.24.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        args: [--extends, '@commitlint/config-conventional']
        additional_dependencies: ['@commitlint/config-conventional']
